body {
    line-height: 150%;
    background-color: black;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1em;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin: 20px auto;
    color: #ff5333;
    text-shadow: 4px 4px 2px rgb(108, 190, 212);
}

h2 {
    background-color: #a7d8e5;
    opacity: 0.9;
    border: 1px solid white;
    color: #ff5333;
    padding: 10px;
    margin: 20px auto;
}

#start {
    margin: 30% auto;
}

#timer {
    display: flex;
    justify-content: center;
}

#gameStats {
    width: 50%;
    margin: 10% auto;
    padding: 25px;
    color: #ff5333;
    opacity: 0.8;
}

img {
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    height: auto;
}

.answerDiv {
    width: 30%;
    margin: 5% auto;
    padding: 5px;
    background-color: #ff5333;
    border: solid 1px whitesmoke;
    border-radius: 1%;
    opacity: 0.8;
}

.answerDiv:hover {
    width: 32%;
    font-size: 1.4em;
    cursor: pointer;
    opacity: 1.0;
    border-radius: 50%
}


/*footer*/

#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (min-width: 840px) {
    .container-flex {
        width: 70%;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 375px) {
    #footernav {
        display: none;
    }
    h2,
    h3 {
        width: 90%;
        margin: auto;
        font-size: 1.2em;
        padding: 10px;
    }
    #gameStats {
        width: 80%;
        margin: 10px auto;
        margin-top: 20px;
    }
}